---
http_interactions:
- request:
    method: get
    uri: https://www.udemy.com/api-1.1/courses/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Udemy-Client-Id:
      - abc
      X-Udemy-Client-Secret:
      - '123'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Ui-Message-Type:
      - error
      X-Ui-Message:
      - Unauthorized - No Client
    body:
      encoding: UTF-8
      string: '{"error":{"code":401,"message":"Unauthorized - No Client","details":""}}'
  recorded_at: Sun, 16 Feb 2014 16:56:09 GMT
recorded_with: VCR 2.8.0
